*, *::before, *::after{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(255,185,238);
    background: radial-gradient(circle, rgba(255,185,238,1) 0%, rgba(52,180,170,1) 100%);
}

.calculator .main {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto)repeat(5, 100px);
    order: 2;
}

.calculator  button {
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.56);
}

.calculator  button:hover {
    background-color: rgba(255,255,255,.80);
}

.span2 {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: rgba(0,0,0,.75);
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.output #previous {
    color: rgba(255,185,238,.85);
    font-size: 1.5rem;
}

.output #current {
    color:  rgba(52,180,170,1);
    font-size: 2.5rem;
}

.calculator #sidebar .inside {
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(7,  29.41%);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar {
    order: 1;
    display: flex;
    align-items: center;
    position: absolute;
    left: 537px;
    transition: .4s;
}
#sidebar .inside{
    display: none;
}

#sidebar.active {
    left: 437px;
}

#sidebar.active .inside {
    display: grid;
}

#open {
    height: 620px;
    z-index: 3;
}

#formats {
    position: absolute;
    left: 200px;
}
#formats .num-sys-format {
    display:block;
    background-color: black;
    color: white;
    width:200px;
    height:100px;
    border: 1px solid white;
}

.calculator #open {
    font-size : 1.2rem;
}