body {
    width: 100%;
    height: 100%;
    background: rgb(189,195,34);
    background: linear-gradient(97deg, rgba(189,195,34,1) 0%, rgba(252,102,102,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    padding: 9px;
    align-items: center;
}

.Array {
    background-color: black;
    border: 2px solid white;
    border-radius: 31px;
    color: navajowhite;
    font-family: cursive;
}

li {
    margin: 5px;
}

button.step {
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 17px;
    width: 136px;
    border: 1px solid white;
    border-radius: 29px;
    outline: none;
}

button.step:hover {
    cursor: pointer;
    background-color: #535353;
}

li.toCheck {
    font-size: 24px;
    color: white;
}

h1 {
    margin: 0px;
    font-family: fantasy;
    font-size: 48px;
}

h2 {
    font-family: cursive;
    font-size: 26px;
    margin: 10px;
}

.log {
    background-color: black;
    width: 300px;
    height: 35px;
    border: 2px solid white;
    border-radius: 13px;
    color:  green;
    font-family: cursive;
    text-align: center;
    box-sizing:border-box;
    padding: 2px;

}