.split-view {
    height: 100%;
    width: 100%;
    display:flex;
    
}

.split-view .left-container {
    width: 15%;
    border-right: 3px solid #344251;
    background-color: #1a2032;
}

.split-view .right-container {
    width: 85%;
    background-color: #1e2741;
}
